@media (max-width: 1010px) {
    .products {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .amount-box {
        width: 25%;
        left: 75%;
    }
}

@media (max-width: 850px) {
    .cart-product {
        flex-direction: column;
        position: relative;

        &__title {
            margin: 1rem 0;
        }
    }

    .cart-current-products-count {
        width: 65%;
        justify-content: space-evenly;
    }

    .cart-products__total-price {
        width: initial;
        @include absolutePosition(25px, 10px);
        transform: translateY(-50%);
    }

    .cart-products__remove-product {
        @include absolutePosition(0, 85%);
    }

    .cart-current-products-count__current-value {
        margin: initial;
    }

    .amount-box {
        width: 100%;
        left: 0;
        border: none;
        border-top: 1px solid grey;

        &__confirm-btn {
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    .cart {
        @include flex;
        width: 100%;

        &__total-product {
            align-self: flex-end;
            margin-left: .3rem;
        }
    }

    .menu {
        display: none;
    }

    .main__title {
        font-size: 2rem;
        font-weight: bold;
    }

    .product-description {
        width: 95%;
        height: 600px;
    }

    .product-image__picture {
        width: 100%;
        max-width: initial;
    }
}

@media (max-width: 320px) {
    body {
        min-width: 320px;
    }
}